<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>día-del-médico</title>
  </head>
  <body style="background-color: #FFFFFF; margin: 0; min-width: 320px; padding: 0;">
    <div align="center" style="margin: 0 auto; max-width: 667px; min-width: 320px;" width="100%">
      <div style="color: #333333; font-family: verdana, verdana, sans-serif;">
        <p style="font-size: .6em; margin: 0;">Si no puedes ver este mensaje correctamente haz click <a href="#" style="color: #666666;" target="_blank">aquí</a></p>
        <img src="../assets/images/logo-immer.png" alt="Logo" style="display: block; width: 20%; height: auto;">
        <div style="background-image: url(../assets/images/immer-fondo2.png); background-size: cover; display: block; height: 30px; width: 90%;">
        </div>

        <div style="background-color: transparent; display: block; height: auto; width: 90%;">
          <div align="center" style="display: inline-grid; height: auto; width: 100%">
            <img src="../assets/images/diadelmedico.png" alt="Tarjeta" style="display: block; width: 100%; height: auto;">
          </div>
        </div>

        <div style="background-image: url(../assets/images/immer-fondo2.png); background-position: bottom; background-size: cover; display: block; width: 90%;">
          <hr style="width: 90%">
          <p style="font-size: .6em; margin: 0;">&#169; 2018 Immer. Todos los derechos reservados. </p>
          <p style="font-size: .6em; margin: 0;">Este correo fue enviado para XXXXXXX.</p>
          <p style="font-size: .6em; margin: 0;">Si no eres el usuario o si deseas ser borrado de nuestro listado de envíos sólo haz clic
            <a href="#" style="color: #666666;" target="_blank">aquí</a>.
          </p>
          <p style="font-size: .6em; margin: 0; width: 90%">
            Este mensaje de correo electrónico se ha enviado desde una dirección exclusivamente para envíos.
            No responda a este mensaje.
          </p>
        </div>
      </div>
      <a href="http://www.immermedical.com/index.html" target="_blank">
        <img src="../assets/images/logo-immer.png" alt="Logo" style="display: block; width: 20%; height: auto;">
      </a>
    </div>
  </body>
</html>
